# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

#folders to ignore
Reusable code/
Pre-maize-practise/
movie003/
node/